<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboard.css">
    <title>Dashboard</title>
</head>
<body>
<form  th:action="@{/dashboard}" method="get" th:object="${userModel}">
    <header>
    <nav>
        <div class="navbar">
            <div class="container nav-container">
                <input class="checkbox" type="checkbox" name="" id="" />
                <div class="hamburger-lines">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </div>
                <div class="logo">
                    Dashboard
                </div>
                <div class="menu-items">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">selling</a></li>
                    <li><a href="#">buying</a></li>
                    <li><a href="#">transactions</a></li>
                    <footer><p>Ipressum Joel is the king and the owner of the galaxy</p></footer>
                </div>
            </div>
        </div>
    </nav>
    </header>
    <main>
            <div class="startText">
                <h2 class="logoText">Willkommen <span th:text="*{email}"></span></h2>
            </div>
        <section id="charts">
            <p class="list-text">{Stock Name}</p>
            <div class="diagram-charts">

            </div>
        </section>
        <section id="stock-list">
            <p class="list-text">Aktuelle Stocks</p>
            <div class="stock-card">
                <div class="stock-info">
                    <h2>Apple</h2>
                    <p>Aktienkurs: $100</p>
                    <p>Veränderung: +5%</p>
                </div>
            </div>

            <div class="stock-card">
                <div class="stock-info">
                    <h2>Google</h2>
                    <p>Aktienkurs: $150</p>
                    <p>Veränderung: -3%</p>
                </div>
            </div>

            <!-- Weitere Aktienkarten können hier hinzugefügt werden -->
        </section>
    </main>
</form>

</body>
</html>