<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Login</title>
</head>
<body>
<form th:action="@{/dashboard}" method="post" th:object="${userModel}">
    <div class="container">
        <h2>Login</h2>
        <h4>Username</h4>
        <input type="text" th:field="${userModel.email}">
        <h4>Password</h4>
        <input type="password" th:field="${userModel.password}">
    </div>
    <div class="container-btn">
        <button type="submit" class="button" value="Submit" style="--clr:#0FF0FC"><span>submit</span><i></i></button>
    </div>


</form>
<form th:action="@{/register}" method="post">
<div class="container-create">
    <button type="submit" class="button" value="Submit" style="--clr:#BF65FC"><span>Create account</span><i></i></button>
</div>
</form>
</body>
</html>